Q1. What is a database? Differentiate between SQL and NoSQL databases.

### What is a Database?
A **database** is an organized collection of data that can be easily accessed, managed, and updated. It is used to store and retrieve large amounts of structured or unstructured information efficiently.

### Difference Between SQL and NoSQL Databases:

1. **Data Structure**:
   - **SQL**: Relational databases that store data in tables with rows and columns (structured data).
   - **NoSQL**: Non-relational databases that store data in a variety of formats like key-value pairs, documents, graphs, or wide-column stores (unstructured or semi-structured data).

2. **Schema**:
   - **SQL**: Requires a predefined schema; the structure must be defined before inserting data.
   - **NoSQL**: Schema-less; allows dynamic data insertion and flexible schema design.

3. **Scalability**:
   - **SQL**: Vertically scalable; requires increasing CPU, RAM, or storage on a single server.
   - **NoSQL**: Horizontally scalable; can scale by adding more servers to distribute the load.

4. **ACID vs. BASE**:
   - **SQL**: Supports ACID properties (Atomicity, Consistency, Isolation, Durability) for reliable transactions.
   - **NoSQL**: Often follows BASE (Basically Available, Soft state, Eventually consistent) for high availability and performance over strict consistency.

5. **Examples**:
   - **SQL**: MySQL, PostgreSQL, SQLite, Oracle.
   - **NoSQL**: MongoDB, Cassandra, Redis, CouchDB.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define and manage database structures, such as tables, indexes, and schemas. DDL commands do not manipulate data but rather the structure of the database.

In [2]:
# CREATE: Used to create a new table, view, or database.
CREATE TABLE Students (ID INT, Name VARCHAR(100));

In [ ]:
# DROP: Deletes an existing table, database, or view.
DROP TABLE Students;

In [ ]:
# ALTER: Modifies an existing table (e.g., add a column).
ALTER TABLE Students ADD Age INT;

In [ ]:
# TRUNCATE: Removes all rows from a table but keeps the structure intact.
TRUNCATE TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used to manage and manipulate data within tables. DML commands allow users to insert, update, and delete data.

In [ ]:
# INSERT: Adds new rows of data to a table.
INSERT INTO Students (ID, Name, Age) VALUES (1, 'John Doe', 22);

In [ ]:
# UPDATE: Modifies existing data in a table.
UPDATE Students SET Age = 23 WHERE ID = 1;

In [ ]:
# DELETE: Removes rows from a table.
DELETE FROM Students WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to query or retrieve data from a database. The main DQL command is SELECT, which allows users to fetch data from one or more tables.

In [ ]:
# SELECT: Retrieves data from one or more tables.

SELECT Name, Age FROM Students WHERE Age > 20;

Q5. Explain Primary Key and Foreign Key.

A Primary Key is a column (or a set of columns) in a table that uniquely identifies each row in that table. It must contain unique values and cannot have NULL values.

A Foreign Key is a column (or a set of columns) in one table that links to the Primary Key in another table, establishing a relationship between the two tables. It ensures referential integrity

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = conn.cursor()

# Executing an SQL query
cursor.execute("SELECT * FROM Students")

# Fetching and printing results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
conn.close()

cursor(): The cursor() method is used to create a cursor object, which allows you to execute SQL queries and fetch data from the database.

Example: cursor = conn.cursor()

execute(): The execute() method is used to run an SQL query. You can pass the SQL statement as a string to this method.

Example: cursor.execute("SELECT * FROM Students") runs a SELECT query to fetch all records from the Students table.

Q7. Give the order of execution of SQL clauses in an SQL query.

he order of execution of SQL clauses in a query is as follows:

FROM: Specifies the tables or views from which to retrieve data.

JOIN: Combines rows from two or more tables based on a related column.

WHERE: Filters the rows based on specified conditions.

GROUP BY: Groups the rows based on one or more columns.

HAVING: Filters groups based on specified conditions (applied after GROUP BY).

SELECT: Specifies the columns to retrieve.

DISTINCT: Removes duplicate rows from the result.

ORDER BY: Sorts the result set in ascending or descending order.

LIMIT / OFFSET: Limits the number of rows returned.